package components

type buttonProps struct {
}

templ Button(button buttonProps) {
	<button type="button" class="flex flex-row p-3 space-x-4 rounded-lg rounded-b-lg shadow-custom-border bg-surface2 text-text fill-transparent">
		{ children... }
	</button>
}
