@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "Noyh R";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/static/fonts/NoyhR-Medium.woff2) format("woff2");
  }

  @font-face {
    font-family: "Noyh R Black";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/static/fonts/NoyhR-Black.woff) format("woff2");
  }

  @font-face {
    font-family: "Coiny";
    src: url(/static/fonts/Coiny-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

.progress-ring__circle {
  stroke-dasharray: 400, 400;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
