@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "Noyh R";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/NoyhR-Medium.woff2) format("woff2");
  }

  @font-face {
    font-family: "Noyh R Black";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/NoyhR-Black.woff) format("woff2");
  }

  @font-face {
    font-family: "Coiny";
    src: url("/fonts/Coiny-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}
