@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "Noyh R";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/NoyhR-Medium.woff2) format("woff2");
  }
}
