# Postgres
postgres_host     = ""
postgres_port     = 5432
postgres_database = ""
postgres_username = ""
postgres_password = ""

# OpenBao
openbao_address = ""
openbao_token = ""

# Gitlab
access_token = ""
remote_state_address = ""
username = ""

# Cloudflare Configuration
cloudflare_api_token = ""
zone_id              = ""

# Grafana Configuration
grafana_service_account_token = ""
